.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

* {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* --------------HEADER------------------ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  /* padding: 24px 0; */
  padding: 17.5px 0;
}

.studio {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  display: none;
}

.header-menu-item {
  /* padding: 24px 0; */
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.current {
  color: #404bbf;
}

.header-menu-link.current {
  position: relative;
}

.header-menu-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  display: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.address-list-item {
  padding: 24px 0;
}

.address-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.menu-open-button {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    padding: 25.5px 0;
    margin-right: 120px;
  }

  .mob-menu {
    display: none;
  }

  .menu-open-button {
    display: none;
  }

  .header-menu-list {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list-item {
    padding: 0;
  }

  .address-list-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 768px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
  }

  .address-list-link {
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* -------------MOB MENU--------- */
.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu.container {
  max-width: 320px;
}

.menu-close-button {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  border-color: #e7e9fc;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.close-button-icon {
}
.mob-menu-list {
}
.mob-menu-item {
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-link.current {
  color: #404bbf;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-address {
  margin-bottom: 48px;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-address-list-item {
}
.mob-address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mob-address-list-link.current {
  color: #404bbf;
}

.mob-link-list {
  display: flex;
  gap: 40px;
}

.mob-link {
}

.mob-link-items {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-link-logo {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
}
/* !-----------------MOB MENU-----------------! */

/* --------------HEADER------------------ */

/* -----------------HERO---------------- */
.hero {
  background-color: #2e2f42;
  margin: 0 auto;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding: 72px 52px;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  /* font-size: 56px;
  line-height: 1.07; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  /* margin-top: 48px; */
  margin-top: 72px;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*!  */

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 0;
  }

  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-button {
    margin-top: 48px;
  }
}
/* -----------------HERO---------------- */

/* -----------------BENEFITS----------------- */
.benefits {
  padding: 96px 0 96px;
}

.benefits-logo {
  display: none;
  /* background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-item {
  /* width: calc((100% - 72px) / 3); */
  /* margin-bottom: 72px; */
}

/* .benefits-item:last-child {
  margin-bottom: 0;
} */

.benefits-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.benefits-item-text {
  font-weight: 500;
}
/*? 768px */
@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-subtitle {
    text-align: start;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

/* ? 1158px */

@media screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-item:last-child {
    margin-bottom: 0;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .benefits-item-text {
    font-weight: 400;
  }
  .benefits-logo {
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}
/*? SECTION 2 */
/* -----------------BENEFITS----------------- */

/*! --------------------TEAM---------------------- */
.team {
  background-color: #f4f4fd;
  /* padding: 120px 0 120px; */
  padding: 96px 0 96px;
}

.team .container {
  padding: 0 28px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  /* width: calc((100% - 3 * 24px) / 4); */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {
  max-width: 100%;
  height: auto;
}

.link-logo {
  fill: #f4f4fd;
}

.team-subtitle-wrap {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  text-align: center;
  margin-bottom: 8px;
}

.team-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-link-items {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-items:hover,
.team-link-items:focus {
  background-color: #404bbf;
}

/*? 768px */
@media screen and (min-width: 768px) {
  .team .container {
    padding: 0;
    max-width: 552px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}
/* ? 1158px */

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0 120px;
  }

  .team .container {
    padding: 0 16px;
    max-width: 1158px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* --------------------TEAM---------------------- */

/* -----------------------OUR PORTFOLIO--------------- */
.portfolio {
  /* padding: 120px 0 120px 0; */
  padding: 96px 0 96px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  /* display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; */
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /* max-width: 288px; */
}

.portfolio-item {
  /* width: calc((100% - 2 * 24px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.portfolio-item-image {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*? 768px */
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
/* ? 1158px */

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* -----------------------OUR PORTFOLIO--------------- */

/* ----------------------FOOTER----------------------- */
.footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.footer .studio {
  color: #f4f4fd;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-links {
  /* width: 100%;
  height: 100%; */
}

.footer-container {
  /* margin-right: 120px; */
  margin-bottom: 72px;
}

.footer-links-container {
  /* margin-right: 80px; */
  margin-bottom: 72px;
}

.footer-links-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links-list {
  display: flex;
  gap: 16px;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-links-items {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-items:hover,
.footer-links-items:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */
  gap: 16px;
}

.footer-text-area {
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background: transparent;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.footer-text-area:hover {
}

.footer-text-area::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  fill: #fff;
  min-width: 165px;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.button-icon {
  margin-left: 16px;
}

/*? 768px */
@media screen and (min-width: 768px) {
  .footer {
    padding: 0;
  }

  .footer-wrap {
    column-gap: 24px;
    row-gap: 72px;
    padding: 96px 164px 96px 108px;
    align-items: baseline;
    justify-content: start;
  }

  .footer-container {
    margin: 0;
  }

  .footer-links-container {
    margin: 0;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-text-area {
    width: 264px;
  }

  .footer-links-subtitle {
    justify-content: start;
  }
}

/* ? 1158px */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .footer {
    padding: 100px 0;
    align-items: center;
  }

  .footer-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
  }

  .footer-container {
    margin-right: 120px;
  }

  .footer-links-container {
    margin-right: 80px;
  }

  .footer-form {
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .footer-text-area {
    opacity: 1;
  }
}

/* ----------------------FOOTER----------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  /* width: 408px; */
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 72px 24px 36px 24px; */
  padding: 72px 16px 24px 16px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer {
  margin-top: 24px;
}

.modal-close-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-text-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
  border-color: #4d5ae5;
}

.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-field:nth-child(5) {
  margin-bottom: 24px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-check-text a {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
}

.modal-check:checked + .modal-check-text span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-checkbox:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-poliсy-style {
  color: #4d5ae5;
}

/*? 768px */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 36px 24px;
  }
}
/* ? 1158px */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
